<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-md-2">
            <div class="d-flex justify-content-between">
                <div>
                    SIDEBAR
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitches" [(ngModel)]="layoutMode" />
                    <label class="custom-control-label" for="customSwitches">Layout Mode</label>
                </div>
            </div>
            <hr>

            <div *ngIf="layoutMode">
                
                <div class="hotbar-layout">
                    <table>
                        <tr>
                            <th></th>
                            <th *ngFor="let hotbarLayout of hotbarLayouts">
                                {{ hotbarLayout.label }}
                            </th>
                        </tr>
                        <tr class="hotbar-layout-item" *ngFor="let hotbar of hotbars">
                            <td>
                                {{ hotbar.number }}
                            </td>
                            <td *ngFor="let hotbarLayout of hotbarLayouts">
                                <input type="radio" [name]="'hotbar_' + hotbar.number" (change)="onHotbarLayourChange()" [value]="hotbarLayout.value" [(ngModel)]="hotbar.layout">
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-md-10 px-5">

            <div class="gridster-wrapper embed-responsive embed-responsive-16by9">
                <gridster [options]="options" class="embed-responsive-item">
                    <gridster-item *ngFor="let item of layout" [item]="item">
                        <div [class]="'gridster-item-content hotbar-number ' + item.layout">{{ item.hotbarItem ? item.hotbarItem.number : '' }}</div>
                        <div class="gridster-item-content w-100 h-100" >
                            <div [class]="'hotbar-icons ' + item.layout">
                                <div [class]="'hotbar-icon ' + ( item.hotbarItem ? item.hotbarItem.icon_id : '' )" *ngFor="let hotbarIconIndex of hotbarIconIndexes" [style]="'background-image: url(\'' + ( item.hotbarItem ? item.hotbarItem.icon_path : '' ) + '\')'">
                                    <span class="label">{{ hotbarIconIndex + 1 }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="drag-overlay" *ngIf="layoutMode"></div>
                        <!-- <div class="d-flex w-100 h-100" *ngIf="layoutMode">
                            <div class="w-100">
                            </div>
                            <div class="gridster-item-content" mdbDropdown>
                                <mdb-icon fas icon="ellipsis-v" classInside="dropdown-toggle" mdbDropdownToggle class="waves-effect"mdbWavesEffect></mdb-icon>
                                <div class="dropdown-menu dropdown-primary dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <div class="divider dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="#">Remove Hotbar</a>
                                </div>
                            </div>
                        </div> -->
                    </gridster-item>
                </gridster>
            </div>

        </div>
    </div>
</div>